<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Админ-панель</title>
	<link rel="stylesheet" href="/static/css/admin.css">
</head>

<body>
	<div class="admin-container">
		<!-- Сайдбар -->
		<nav class="admin-sidebar">
			<ul>
				<li><a href="#dashboard" class="tab-link active" data-tab="dashboard-content">Дашборд</a></li>
				<li><a href="#services" class="tab-link" data-tab="services-content">Сервисы</a></li>
				<li><a href="#users" class="tab-link" data-tab="users-content">Пользователи</a></li>
				<li><a href="#orders" class="tab-link" data-tab="orders-content">Все записи</a></li>
			</ul>
		</nav>

		<!-- Основной контент -->
		<div class="admin-content">
			<!-- Дашборд -->
			<div id="dashboard-content" class="main-tab-content" style="display: block;">
				<h2>Статистика</h2>
				<div class="metrics-grid">
					<div class="metrics-grid">
						<div class="metric-card" id="new-services-card">
							Новые сервисы: <span id="pending-services">0</span>
						</div>
						<div class="metric-card" id="total-bookings-card">
							Всего записей: <span id="total-bookings">0</span>
						</div>
						<div class="metric-card" id="total-users-card">
							Всего пользователей: <span id="total-users">0</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Сервисы -->
			<div id="services-content" class="main-tab-content" style="display: none;">
				<h2>Управление сервисами</h2>
				<div id="services-table"></div>
			</div>

			<!-- Пользователи -->
			<div id="users-content" class="main-tab-content" style="display: none;">
				<h2>Пользователи</h2>
				<div id="users-table"></div>
			</div>

			<div id="orders-content" class="main-tab-content" style="display: none;">
				<h2>Записи</h2>
				<div class="dashboard-container">
					<div>
						<label for="status-filter">Выберите статус:</label>
						<select id="status-filter">
							<option value="all">Все</option>
							<option value="⏳ Ожидает подтверждения">Ожидающие</option>
							<option value="✅ Подтверждена">Подтвержденные</option>
							<option value="🔧 В работе">Записи в работе</option>
							<option value="🏁 Завершена">Завершенные записи</option>
							<option value="❌ Отменена">Отмененные</option>
						</select>
					</div>

					<div>
						<label for="search-id">Поиск по номеру записи (ID):</label>
						<input type="text" id="search-id" placeholder="Введите ID записи" />
					</div>
					<div>
						<label for="search-phone">Поиск по номеру телефона владельца:</label>
						<input type="text" id="search-phone" placeholder="Введите номер телефона" />
					</div>
					<button id="search-button">Поиск</button>
				</div>
				<div id="all-list" class="booking-list-container">
				</div>
			</div>
		</div>
	</div>

	<script src="/static/js/admin.js"></script>
</body>

</html>