<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница партнера</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/client.css">
</head>

<body>
	<div class="container">
		<header>
			<h1>Информация о клиенте</h1>
			<a href="/" class="back-btn">Вернуться на главную</a>
		</header>

		<div class="client-page-container">
			<div class="client-details">
				<div class="client-info">
					<h2 id="client-name"></h2>
					<p><strong>Телефон:</strong> <span id="client-phone"></span></p>
					<p><strong>email:</strong> <span id="client-email"></span></p>
				</div>
			</div>
			<div>
				<button id="connectTelegramBtn">Подключить Telegram</button>
			</div>
			<h2>Записи</h2>
			<div class="dashboard-container">
				<nav class="tabs">
					<div class="tab active" data-tab="pending">Ожидающие</div>
					<div class="tab" data-tab="confirmed">Подтвержденные</div>
					<div class="tab" data-tab="working">Записи в работе</div>
					<div class="tab" data-tab="end">Завершенные записи</div>
					<div class="tab" data-tab="canceled">Отмененные</div>
				</nav>

				<div id="pending" class="order-tab-content active">
					<h2>Ожидающие записи</h2>
					<div id="pending-list"></div>
				</div>
				<div id="confirmed" class="order-tab-content" style="display: none;">
					<h2>Подтвержденные записи</h2>
					<div id="confirmed-list"></div>
				</div>
				<div id="working" class="order-tab-content" style="display: none;">
					<h2>Записи в работе</h2>
					<div id="working-list"></div>
				</div>
				<div id="end" class="order-tab-content" style="display: none;">
					<h2>Завершенные записи</h2>
					<div id="end-list"></div>
				</div>
				<div id="canceled" class="order-tab-content" style="display: none;">
					<h2>Отмененные записи</h2>
					<div id="canceled-list"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="/static/js/client.js"></script>
</body>

</html>