<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница партнера</title>
	<link rel="stylesheet" href="/static/css/partner.css">
</head>

<body>
	<div class="container">
		<header>
			<h1>Информация о партнере</h1>
			<a href="#" id="manage-btn" class="manage-btn">Управление</a>
			<a href="/" class="back-btn">Вернуться на главную</a>
		</header>
		<div class="info-container">
			<div class="partner-details">
				<div id="partner-logo" class="partner-image-container">
					<img id="partner-logo-img" class="partner-image" alt="Логотип партнера">
				</div>
				<div class="partner-info">
					<h2 id="partner-name"></h2>
					<p><strong>Адрес:</strong> <span id="partner-address"></span></p>
					<p><strong>Телефон:</strong> <span id="partner-phone"></span></p>
					<p><strong>Описание:</strong> <span id="partner-description"></span></p>
					<p><strong>Часы работы:</strong></p>
					<pre id="partner-working-hours"></pre>
				</div>
			</div>

			<div class="reviews-container" id="reviews">

			</div>
		</div>

		<div class="map-container" id="map">
		</div>

		<div class="booking-form-container">
			<h2>Записаться на сервис</h2>
			<form id="booking-form">
				<div class="form-group">
					<label for="booking-date">Выберите дату:</label>
					<input type="date" id="booking-date" name="booking-date" required>
				</div>
				<div class="form-group">
					<label for="booking-time">Выберите время:</label>
					<div class="time-selectors">
						<select id="booking-time" name="booking-time" required>
						</select>
					</div>
				</div>
				<button id="submit-booking" type="button">Записаться</button>
				<p id="booking-message" style="display: none;"></p>
			</form>
		</div>

		<div class="services-section">
			<h2>Доступные услуги</h2>
			<div class="filter-controls">
				<input type="text" id="service-search" placeholder="Поиск услуги...">
			</div>
			<div id="services-list"></div>
		</div>

		<div class="announcements-section">
			<h2>Объявления партнера</h2>
			<div class="announcements-container" id="announcemens-list">
				<div class="announcement-card">
					<img src="announcement-image.jpg" alt="Объявление 1">
					<h3>Заголовок объявления 1</h3>
					<p>Текст объявления 1. Подробности о текущем предложении или информации для клиентов.</p>
				</div>
				<div class="announcement-card">
					<img src="announcement-image.jpg" alt="Объявление 2">
					<h3>Заголовок объявления 2</h3>
					<p>Текст объявления 2. Вторая информация для клиентов, что можно использовать или узнать.</p>
				</div>
			</div>
		</div>


	</div>

	<script src="/static/js/partner.js"></script>
</body>

</html>